/* general rules */
body{
  background-color: rgb(230, 224, 224);
  
}
/* general rules */
/* nav bar */
.myLinks a{
  color: white !important;
}

/* nav bar */

/* about us */
.about p{
  max-width: 600px;
  margin: auto;
}
.about .sing-block{
  background-color: white;
}
/* about us */


/* end contact-us */
.contact-us{
  background-color: blue;
  padding: 70px;
  color: white;
}
.contact-us p{
  max-width: 600px;
  margin: auto;
  
}
.contact-us .col-md-6{
  padding: 50px 30px;
}
.contact-us input{
  height: 50px;
}

.contact-us textarea{
  height: 100%;
}
.contact-us .col-md-6:first-child input:nth-child(2){
  margin: 30px 0;
}
.contact-us button{
  background-color: white !important;
  color: black;
}
/* end contact-us */

/* footer  */
.footer ul{
list-style: none;
text-align: center;
padding: 50px;
}
/* footer  */

